#CreateAccount {
    -fx-font-family: Montserrat;
    -fx-font-size: 45px;
    -fx-text-fill: black;
    -fx-font-weight: bold;

}

#scrollPane, #apane {
    /*-fx-background-color: white;*/
    -fx-background-color: rgba(255, 65, 108, 0.47);
    /*-fx-background-color: linear-gradient(from 300px 0px to 300px 800px, white, rgba(255, 65, 108, 0.79));*/
    /*-fx-background-color: linear-gradient(from 100% 100% to 50% 50%, #FF4B2B 1%, #ffffff 9%);*/
    /*-fx-background-image: linear-gradient(from 0% 0% to 100% 100%, #FF4B2B, #ffffff)*/
}

#firstname, #lastname, #emailField, #phoneNum {
    -fx-background-color: #FF4B2B, white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#scrollPane #apane #age, #birthdayPicker {
    -fx-min-width: 50px;
    -fx-min-height: 30px;
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
}

#text {
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
#radMale, #radFemale, #radOther {
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
}

#civilStatus, #countryCombo {
    -fx-background-radius: 20px;
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
}

#submit {
    -fx-background-radius: 30px;
    -fx-font-size: 20px;
    -fx-background-color: #FF416C;
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-image: url('/sample/doneW.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90% 90%;
    -fx-alignment: center-left;
}

#submit:hover {
    -fx-text-fill: #FF416C;
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, #FF416C,10, 0.5, 1, 1);
    -fx-background-image: url('/sample/doneP.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90% 90%;
}

#clear {
    -fx-background-radius: 30px;
    -fx-font-size: 20px;
    -fx-min-width: 50px;
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-background-color: #4158D0;
    -fx-text-fill: white;
    -fx-background-image: url('/sample/clearW.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90% 90%;
    -fx-alignment: center-left;
}

#clear:hover {
    -fx-background-image: url('/sample/clearB.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90% 90%;
    -fx-content-display: top;
    -fx-text-fill: #4158D0;
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, #4158D0,10, 0.5, 1, 1);
}

#passVisible {
    -fx-background-image: url('/sample/visible0.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#passVisible:selected {
    -fx-background-image: url('/sample/visible1.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#username, #pass, #confirmPass {
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
/*#firstname:focused, #lastname:focused {*/
/*    -fx-background-color: #a9a9a9 , white , white;*/
/*    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
/*}*/